:root {
  --very-dark-blue-main: hsl(217, 54%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 100vh;
  background: var(--very-dark-blue-main);
}
